<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordList</title>
</head>
<body>
  Locations:
  ocean
  clouds
  flood
  storm
  rain
  snow
  desert
  city
  forest
  house
  mountain
  bridge
  church
  <br>
  <br>
  Verbs:
  eating
  crying
  walking
  swimming
  running
  jumping
  flying
  shouting
  drinking
  <br>
  <br>
  Nouns:
  tiger
  mouse
  man
  woman
  lion
  elephant
  mouse
  dog
  cat
  bird
  goose
  wallet
  flag
  book
  umbrella
  bag
</body>
</html>
